@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-12 col-lg-12 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/images/vacations.png" width="180" alt="">
                            </a>
                            <h2>Use a local account to log in.</h2>
                            <form id="account" method="post">
                                <div class="mb-3">
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <input type="email" class="form-control" asp-for="Input.Email" aria-describedby="emailHelp">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input type="password" class="form-control" asp-for="Input.Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input primary" type="checkbox" asp-for="Input.RememberMe" checked>
                                        <label class="form-check-label text-dark" for="flexCheckChecked">
                                            Remeber this Device
                                        </label>
                                    </div>
                                    <a class="text-primary fw-bold" asp-page="./ForgotPassword">Forgot Password ?</a>
                                </div>
                                <button type="submit" class="btn btn-primary w-100 fs-4 mb-4 rounded-2">Sign In</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">New Employee?</p>
                                    <a class="text-primary fw-bold ms-2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  @*   <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
 *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
