@model EmployeeAllocationVM
@{
    ViewData["Title"] = "Allocation Details";
    var isAdmin = User.IsInRole(Roles.Administrator);
    var isEmployee = User.IsInRole(Roles.Employee);
    string message = isAdmin ? "There are no allocations" : "You have no allocations please contact your admin";
}
<h1>View Allocation for @Model.FirstName @Model.LastName</h1>

@if (isAdmin)
{
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
}
@if (isEmployee)
{
    <a asp-controller="LeaveRequests" asp-action="Index" class="btn btn-primary">View request history</a>

}
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<hr />
@if (isAdmin && Model.IsCompletedAllocation == false)
{
    <div class="alert alert-warning">
        <p>User is missing some leave allocations.</p>
    </div>
    <form asp-action="AllocationLeave">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Allocate leave" class="btn btn-danger" />
    </form>
    <br/>
}
@if (Model.LeaveAllocations.Any())
{
    <div class="card">
        <div class="card-header">
            <h4>Leave Allocations for period @Model.LeaveAllocations[0].Period.Name</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">Leave Name</div>
                    <div class="col">Original Allocation</div>
                    <div class="col">Current Allocation</div>
                    <div class="col">Action</div>
                </div>
            </li>
            @foreach (var allocation in Model.LeaveAllocations)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">@allocation.LeaveType.Name</div>
                        <div class="col">
                            <span class="badge rounded-pill bg-primary">@allocation.NumberOfDays</span>
                        </div>
                        <div class="col"><span class="badge rounded-pill bg-warning">@allocation.NumberOfDays</span></div>
                        <div class="col">
                            @if (isAdmin)
                            {
                                <a class="btn btn-warning" asp-action="EditAllocation" asp-route-id="@allocation.Id">Edit Allocation</a>
                            }
                            <a asp-controller="LeaveRequests" asp-route-leaveTypeId="@allocation.LeaveType.Id" asp-action="Create" class="btn btn-success">Request Leave</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
   <div class="alert alert-warning" role="alert">
       <h2>@message</h2>
   </div>
}
